<h1>Home</h1>

<h2>Products</h2>
<div class="ulist">
    <ul id="product-list" class="ulist"></ul>
</div>


<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
<script src="js/main.js"></script>