<h1>Home</h1>

<h2>Real Time Products</h2>
<div class="ulist">
    <ul id="product-list" class="ulist"></ul>

</div>

<form>
    <label for="">Product</label>
    <input type="text" name="Product" id="title"/>
    <label for="">Price</label>
    <input type="number" name="Price" id="price"/>
    <button id="addProduct">Add Product</button>
</form>

<form action="">
    <label for="">Product ID</label>
    <input type="text" id="deleteProdId" required>
    <button id="deleteButton">Delete</button>
</form>


<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
<script src="js/main.js"></script>